* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* ----------------NavBar------------------- */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #919151;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 270px;
}

i {
  color: #fff;
  transition: 0.2s;
}
i:hover {
  color: #f24822;
}
/* ----------------NavBar------------------- */

/* ----------------Header------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: black;
  padding: 20px;
}

header h1 {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.icon_bar i {
  font-size: 1.5rem;
}

/*---------Menu-Mobile---------------------*/

.menu-mobile {
  background-color: #919151;
  height: 93vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  border-radius: 8px 0px 0px 8px;
  margin-top: 35px;
  transition: 0.5s;
}

.menu-mobile.open-menu {
  width: 28%;
}

.menu-mobile.open-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-close i {
  color: #fff;
  font-size: 1.2rem;
  margin: 10px;
}

.menu-mobile .btn-close i:hover {
  color: #f24822;
  font-size: 1.2rem;
}

.menu-mobile nav ul {
  text-align: right;
  list-style-type: none;
}

.menu-mobile nav ul li a {
  display: block;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-decoration: none;
  padding: 15px 8%;
  transition: 0.1s;
}

.menu-mobile nav ul li a:hover {
  color: #f24822;
  cursor: pointer;
}

.overlay-menu {
  background-color: #000000a4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}
/*---------Menu-Mobile---------------------*/

/* ----------------Header------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0px;
}

/* ----------------Banner------------------- */

.banner video {
  display: block;
  position: absolute;
  top: 90px;
  left: 0px;
  object-fit: cover;
  width: 100%;
  height: 230px;
  opacity: 0.5;
}

video .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 200px;
  background-color: #919151;
}

.logo img {
  position: relative;
  width: 190px;
  border-radius: 50%;
  margin-top: 12px;
  z-index: 1;
}

.text_title {
  text-align: center;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
}

/* ----------------Banner------------------- */

.box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  padding-top: 15px;
  margin: 10px;
  border: 2px solid #919151;
  background-color: #000000;
}

.pic-box01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 200px;

  background-image: url(src/img/dpr-vina_700px.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box_text {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;
  padding: 8px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  color: #919151;
}

.box_text span {
  color: #fff;
}

.box_text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: #919151;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 230px;
  padding: 15px;
  border: 2px solid #919151;
  background-color: #000000;
}

/* ----------------Spotify------------------- */

.spotify {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;

  background-color: #919151;
  border-radius: 14px;
  padding: 3px;
}
/* ----------------Spotify------------------- */

/* ----------------Section Tickets------------------- */

.tickets-box {
  display: flex;
  flex-direction: column;

  padding: 15px;
  width: 330px;
  height: 600px;
  text-align: center;
}

.tour-title {
  height: 70px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5rem;
  color: #f24822;
}

.text-ticket {
  height: 300px;
  padding: 15px;
}

section h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
}

section p {
  margin: 5px;
  color: #fff;
}

section button {
  width: 150px;
  height: 50px;
  border: none;
  color: #fff;
  margin: 10px;
  background-color: #919151;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  font-weight: bolder;
}

section button:hover {
  color: #f24822;
}
/* ----------------Section Tickets------------------- */

/* ----------------Footer------------------- */
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 10px;
  background-color: #919151;
  margin-top: 30px;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.footer a:hover {
  color: #f24822;
}
/* ----------------Footer------------------- */

@media (min-width: 435px) {
  main {
    display: flex;
    width: 100%;
    background-image: url(src/img/Paulis_3760px.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner video {
    display: none;
  }

  .logo img {
    width: 450px;
  }

  .text_title {
    font-size: 2rem;
    color: #fff;
  }

  .box-item {
    width: 600px;
    height: 400px;
  }

  .pic-box01 {
    width: 500px;
    height: 350px;
  }

  .box_text {
    font-size: 1.5rem;
  }

  .box_text p {
    font-size: 0.8rem;
  }

  .spotify {
    width: 600px;
  }

  .tickets-box {
    border-radius: 10px;
    background-color: #f248221d;
  }
}
